 /* default css */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    background: #fff;
    color: #fff;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* project css */
  .container {
    grid-gap: 15px;
    max-width: 960px;
    margin: 10px auto;
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "header_logo header header header_search"
      "header_logo header header header_search"
      "menu menu menu menu"
      "sidebar1 content content sidebar2"
      "sidebar1 content content sidebar2"
      "sidebar1 content content sidebar2"
      "sidebar1 content content sidebar2"
      "sidebar1 content content sidebar2"
      "sidebar1 content content sidebar2"
      "footer footer footer footer";
  }

  .container div {
    background-color: green;
  }
  .header_logo {
    grid-area: header_logo;
    padding: 15% 0;
  }
  .header {
    grid-area: header;
    padding: 3% 0;
  }
  .header_search {
    grid-area: header_search;
    padding: 24% 0;
  }
  .header_search input {
    max-width: 70%;
    height: max(70%, 40px);
  }

  /* Navigation css Start*/
  .menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .menu_right {
    padding: 3.5% 2%;
  }
  .menu_right ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
  }
  .menu_right ul li a {
    text-decoration: none;
    display: block;
    background: orange;
    padding: 15% 0;
    border: 1px solid #000;
  }
  .menu_right ul li a:hover {
    background: khaki;
  }

  /* Navigation css  End*/
  .content {
    grid-area: content;
  }
  /* content menu css */
  .content_menu {
    padding: 15px;
  }
  .content_menu ul {
    list-style: none;
    display: grid;
    column-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
  }
  .content_menu ul li a {
    text-decoration: none;
    background: orange;
    color: #000;
    display: block;
    padding: 15px 0;
    border: 1px solid #000;
  }
  .content_menu ul li a:hover {
    background: red;
  }
  .content_text {
    text-align: left;
    padding: 5%;
  }
  .content_img {
    text-align: left;
    padding: 5%;
  }
  .content_img img {
    width: 100%;
    padding-top: 5%;
  }
  .sidebar_left_area,
  .sidebar_right_area {
    padding: 5%;
    text-align: left;
  }
  .sidebar_left_area p,
  .sidebar_right_area p {
    padding-bottom: 15%;
  }
  /* content css end */

  .sidebar1 {
    grid-area: sidebar1;
  }
  .sidebar2 {
    grid-area: sidebar2;
  }
  .footer {
    grid-area: footer;
  }
  .footer_area {
    text-align: left;
    padding: 3% 3%;
  }