  /* default css */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    background: #fff;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  /*  css */
  .container {
    grid-gap: 15px;
    max-width: 960px;
    margin: 10px auto;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "header header header header header header"
      "nav nav nav nav nav nav"
    "feature feature gallery gallery gallery gallery"
    "feature feature gallery gallery gallery gallery"
    "feature feature gallery gallery gallery gallery"
    "feature feature gallery gallery gallery gallery"
    "new new main_content main_content main_content main_content"
    "new new main_content main_content main_content main_content"
    "list list main_content main_content main_content main_content"
    "list list main_content main_content main_content main_content"
      "footer footer footer footer footer footer"
      
      ;
  }
  header,
  nav,
  aside,
  article,
  footer {
    border: 1px solid black;
    padding: 25px;
    background-color: darkgrey;
  }
  header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding:2% 5%;
    column-gap: 20px;
  }
  .nav div{
    border: 1px solid #000;
    background-color: #888888;
    padding:5% 0;
  }
  .nav div a{
    text-decoration: none;
    color: #fff;
  }
  #feature{
    grid-area: feature;
  }
  #new{
    grid-area: new;
  }
  #Listings{
    grid-area: list;
  }
  #gallery{
    grid-area: gallery;
  }
  #content{
    grid-area: main_content;
  }
  footer {
    grid-area: footer;
  }