 /* default css */
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 html {
  background: #fff;
 }

 img {
  max-width: 100%;
  height: auto;
 }

 /*  css */

 .container {
  width: 100vw;
  height: 100vh;
  background: url("topography.svg"), linear-gradient(110deg, red, blue);
  background-size: 100% 100%;
  padding: 5% 0;
 }

 .container h1 {
  border-bottom: 10px solid orange;
  margin: 0 5%;
  padding-bottom: 1%;
  font-size: xxx-large;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
 }